body{
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}
h1{
  font-size: 40px;
}

#dv{
  color: darkolivegreen;
  font-size: 30px;
}
.rname{
  color: orange;
}

.secone{
  height: 600px;
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;

}

.one-div{
  width: 40%;
  margin-left:5%;
  padding-left:2%;
  float: left;

}
.one-div img{
  width: 100%;
}
.fst-para{
  text-align: justify;
  color: dimgray;
}
.hirebtn{
  text-decoration: none;
  background-image:linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;

}
.hirebtn a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.dreamh{
  font-size: 35px;
  color:#69a069;
}
.dreamh3{
  font-size: 30;
  color: rgb(42, 115, 91);
}
.sectwo{
  height: 600px;
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;
  background-position: right;

}