body{
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}
h1{
  font-size: 40px;
}

#dv{
  color: darkolivegreen;
  font-size: 30px;
}
.rname{
  color: orange;
}

.secone{
  height: 600px;
  background-image: url(../images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;

}

.one-div{
  width: 40%;
  margin-left:5%;
  padding-left:2%;
  float: left;

}
.one-div img{
  width: 100%;
}
.fst-para{
  text-align: justify;
  color: dimgray;
}
.hirebtn{
  text-decoration: none;
  background-image:linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;

}
.hirebtn a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.dreamh{
  font-size: 35px;
  color:#69a069;
}
.dreamh3{
  font-size: 30;
  color: rgb(42, 115, 91);
}
.sectwo{
  height: 600px;
  background-image: url(../images/dream-bg.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;
  background-position: right;

}.secthree{
  height: 500px;
  margin-bottom: 150px;
  background-image: url(../images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.secthree h1{
  color:#022424
}


.three-div{
  width: 24%;
  margin-left: 5%;
  padding-left:2%;
  padding-right: 1%;
  float: left;
  text-align:left;
  box-shadow: 10px 10px 40px gray;
  height: 50%;
  background-color: white;

}
.three-div p{
  text-align: justify;
  color: dimgray;
}

.three-div h2{
  color: #69a069;
}

.three-div h3{
  color: orange;
}

#frontdev{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

#backdev{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, cyan, blue);
  border-image-slice:1;

}
#fullstackdev{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #eeff00, rgb(11, 220, 7));
  border-image-slice:1;
}

footer p{
  font-size: 15px;
  color: #022424;
  text-align: center;

}